{% extends 'core/base.html' %}

{% block title %}
  {{ search }}
{% endblock %}

{% block content %}
  <!-- START ARTICLE -->
  <div class="content is-medium">
    <h1>Search results</h1>
    <h3>Query: {{ query }} </h3>
  </div>
  {% for post in posts %}
    <a href="{% url 'detailpage' post.category post.slug %}">
      <div class="card article">
        <div class="card-content">
          <div class="media">
            <div class="media-content has-text-centered">
              <p class="title article-title">{{ post.title }}</p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">{{ post.author }}</span>
                <span class="tag is-rounded">{{ post.created_at|date:'D d M Y' }}</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>{{ post.intro }}</p>
          </div>
        </div>
      </div>
    </a>
    {% empty %}
    <div class="card article">
      <div class="card-content">
        <div class="media">
          <div class="media-content has-text-centered">
            <p class="title article-title">No result</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
